.userShowPage {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

a {
    cursor: pointer;
}

.userContainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.profilePic {
    height: 100px;
    width: 100px;
    object-fit: cover;
    background: #E8FAFA;
    border: 1px solid #F9450E;
    border-radius: 50%;
    margin-right: 10px; 
}

<<<<<<< HEAD
    button{
        
        background-color:#0a0a23;
        color: #fff;
        border:none;
        border-radius:10px;
        text-align: center;
        white-space: nowrap;
        width: 5rem;
       
    }

   
    .post{
        padding-left: 25%;
    }

    h1{
        padding-left: 25%;
    }

    
=======
.userName {
    margin: 0; 
>>>>>>> b6414b2214ddb03ad56bdb163871725f4dbe9b8f
}